<div class="background-banner-bar"></div>
<div class="wrapper">
  <div class="menu">
    <div class="menu-title">Terms of Use</div>
    <div class="menu-item"><a href="/pages/privacy-policy" aria-label="Privacy Policy"><i class="fa fa-caret-down" aria-hidden="true"></i>Privacy Policy</a></div>
    <div class="menu-item active"><a href="/pages/terms-of-use" aria-label="Terms of Service"><i class="fa fa-caret-right" aria-hidden="true"></i>Terms of Use</a></div>
  </div>
  <div class=" content">
    <h1>Terms of Use</h1>
    <div class="copy">{{ page.content }}</div>
  </div>
</div>
{% schema %}
  {
    "name": "Terms of Service",
	"class":"terms",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
